    * {
        box-sizing: border-box;
        /*font-family: 'PT Sans', sans-serif;*/
    }
    
    body {
        background-color: #FFFFFF;
        font-family: 'Dosis', sans-serif;
        color: #121213;
        font-size: 14px;
        line-height: 20px;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
    }
    
    #banner {
        position: relative;
        height: 85vh;
        padding-left: 5%;
        padding-right: 5%;
        background-size: cover;
        background-position: 0px 0px 50%, 0%;
        background-color: #c1c3cc;
        background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83)35%, rgba(193, 195, 204, 0.28)65%), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
        background-attachment: scroll fixed;
    }
    
    .navigation-wrapper {
        position: absolute;
        height: 88px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: auto;
        background-color: #fff;
        width: 90%;
        display: flex;
        margin-top: 2%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0%;
        padding-left: 0%;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }
    
    .brand {
        background-color: #e47312;
        height: 110px;
        width: 160px;
        padding-left: 35px;
        padding-right: 35px;
        display: inline-block;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        align-self: stretch;
        position: relative;
    }
    
    .brand-logo {
        width: 100%;
    }
    
    .nav-menu {
        width: 450px;
        display: flex;
        align-items: center;
        align-items: stretch;
        order: 1;
        position: relative;
        justify-content: space-around;
        margin-left: 390px;
    }
    
    .free-quote-wrapper {
        background-color: #e47312;
        color: white;
        margin-left: 20px;
        padding: 34px 28px 31px;
        height: 100%;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        order: 2;
    }
    
    .free-quote-wrapper :hover {
        background-color: #e98a38;
    }
    
    .text-block {
        line-height: 16px;
    }
    
    .nav-link {
        padding: 31px, 14px;
        color: #414147;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: none;
        cursor: pointer;
    }
    
    .nav-link.w--current {
        color: #e47312;
    }
    
    .nav-link:hover {
        color: #e47312;
    }
    
    .nav-text {
        position: relative;
        z-index: 10;
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #fff;
        text-transform: uppercase;
        display: inline-block;
    }
    
    .vertical-line {
        z-index: 1;
        position: absolute;
        left: 40px;
        border-right: 1px solid #e47312;
        height: 50px;
        display: none;
    }
    
    .nav-link:hover .vertical-line {
        display: block;
    }
    
    .arrow-image {
        width: 8px;
        margin-left: 4px;
    }
    
    .dropdown {
        text-align: left;
        z-index: 900;
    }
    
    .dropdown:hover>.dropdown-list {
        display: block;
        min-width: 150px;
        padding: 9px 13px;
    }
    
    .dropdown-list {
        background-color: #fff;
        position: absolute;
        min-width: 100%;
        display: none;
        z-index: 1;
        width: 160px;
    }
    
    .dropdown-link {
        color: #717177;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 10px 20px;
        display: block;
    }
    
    .dropdown-link:hover {
        background-color: #F1F1F7;
        color: #E47328;
    }
    
    .humburge-icon {
        order: 3;
        display: none;
    }
    
    .humburge-icon i {
        font-size: 25px;
    }
    
    .middle-content {
        position: absolute;
        margin-top: 170px;
    }
    
    .top-title {
        color: #fff;
        font-size: 62px;
        line-height: 70px;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 1px;
        font-weight: 600;
    }
    
    .paragraph-white {
        font-weight: 400;
        margin-top: 10px;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 5px;
        color: hsla(0, 0%, 100%, 0.7);
        margin-bottom: 40px;
    }
    
    .popup-botton {
        cursor: pointer;
        min-width: 160px;
        padding: 18px 30px;
        color: #fff;
        font-weight: 500;
        text-align: center;
        letter-spacing: 1px;
        background-color: #e47312;
        transition: all 300ms ease;
        border: 0;
        outline: 0;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .popup-botton:hover {
        Background-color: #e98a38
    }
    
    .social-button-section {
        position: absolute;
        right: 0;
        top: 170px;
        padding: 10px;
        background-color: #0a1229;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .social-vertical-icon-link {
        width: 40px;
        height: 50px;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
        display: inline-block;
        text-align: center;
    }
    
    .social-icon {
        width: 16px;
        margin-top: 10px;
    }
    
    .info-section-view {
        position: absolute;
        left: auto;
        top: auto;
        bottom: -80px;
        right: 0;
        width: 1000px;
        padding: 15px 50px 20px 100px;
        background-color: #e47312;
        Background-image: linear-gradient(186deg, #e47312, #ff6361);
    }
    
    .info-flex {
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px;
        align-items: flex-start;
    }
    
    .info-item {
        display: inline-block;
        text-align: center;
    }
    
    .info-img {
        width: 24px;
    }
    
    .phone-text {
        margin-top: 0;
        margin-bottom: 10px;
        color: #fff;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    
    .para-margin {
        margin-bottom: 5px;
        font-size: 17px;
    }
    
    .primary-button {
        color: #fff;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        transition: ease-in;
    }
    
    .botton-text {
        margin-top: 20px;
    }
    
    .botton-text:hover {
        border-bottom: 2px solid white;
    }