body {
    margin: 0;
    padding: 0;
    background-color: #fce8d5;
    font-family: 'Mukta', sans-serif;
}

#top-bar {
    box-shadow: 0 2px 4px brown;
    background-color: brown;
    padding: 10px 20px;
    text-align: center;
}

#bottom-bar {
    box-shadow: 0 2px 4px br;
    background-color: brown;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}

.top-container {
    margin: 50px auto 30px;
}

.para1 {
    color: dimgray;
    line-height: 1.4;
    text-align: center;
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

.main-head {
    color: maroon;
    text-align: center;
}

.quote {
    text-align: center;
    width: 1000px;
    margin: auto;
    font-style: italic;
    color: #810000;
}

.Author {
    text-align: center;
    width: 1000px;
    margin: auto;
}

hr {
    width: 900px;
    margin-top: 5px;
    border-color: lightgray;
    border-width: 0.5px;
}

.sub-head {
    text-align: center;
}

.middle-container {
    margin: 30px auto 30px;
}

.all-img {
    width: 200px;
    display: block;
    margin: auto;
}

.para2 {
    line-height: 1.4;
    text-align: center;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.para3 {
    line-height: 1.4;
    text-align: center;
    width: 1000px;
    margin: 20px auto;
}

.tb-caption {
    text-align: center;
}

#schedule-tb {
    margin: 0 auto;
    border: 1px solid #cccccc;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    ;
}

#schedule-tb th,
td {
    border: 1px solid #cccccc;
}

#tb-header {
    padding-bottom: 10px;
}

tr:nth-child(even) {
    background-color: #e6e6ff;
}

td:first-child {
    color: blue;
}

.main-block {
    Width: 991px;
    margin: 0 auto;
}

.sub-head-last {
    color: maroon;
    text-align: center;
    margin-bottom: 100px;
}