body {
    background-color: rgb(241, 203, 241);
}

h1,
h2 {
    text-align: center;
}

#form1 {
    background-color: linen;
    width: 800px;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
    border-radius: 5px;
}

.fields {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    vertical-align: top;
    margin-top: 10px;
    padding: 5px;
}

.input-fields {
    width: 280px;
    height: 20px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}